doctype
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/main.css")
        title= tittle
    body
        include partials/main.pug
        include partials/formLogin.pug