/*estilo menu*/

body {
    background: #d0d3d4;
}

.nav {
    position: sticky;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
    background: #34495e;
    color: white;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: white;
    font-family: monospace;
}

li {
    display: inline;
    padding: 25px;
}

footer {
    text-align: center;
}