container.container
    div.content
        p
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod repellat minus nostrum praesentium quibusdam hic, quos non eum, enim laborum consequatur alias laudantium perferendis reiciendis aliquid reprehenderit perspiciatis provident consectetur.
    div.more
        p
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, magni, molestiae corrupti adipisci perspiciatis hic atque quidem deserunt accusamus maiores dicta consequatur excepturi a culpa fugit aliquam vitae natus eaque?